In [1]:
##creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
##Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5, 6)

In [10]:
print(numbers[2])
print(numbers[-1])

3
6

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
##Tuple Operations

concatenation_tuple= numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [15]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
## Immutable nature of Tuples

## Tupels are immutable

lst=[1,2,3,4,5]
print(lst)

lst[1]="Raja"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Raja', 3, 4, 5]

In [18]:
numbers[1]="Raja"

TypeError: 'tuple' object does not support item assignment

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [21]:
##Tuple Methods
print(numbers.count(1))

print(numbers.index(3))

1
2

In [22]:
## Packing and unpacking tuple

packed_tuple=1,"Hello",3.14

print(packed_tuple)

(1, 'Hello', 3.14)

In [23]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [24]:
##unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [27]:
##Nested Tuple
##Nested List

lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

lst[0][0:3]

[1, 2, 3]

In [28]:

lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]

lst[2][0:3]

(1, 'Hello', 3.14)

In [30]:
nested_tuple = ((1,2,3), ("a","b","c"), (True, False))

print(nested_tuple[0])

print(nested_tuple[1][2])

(1, 2, 3)
c

In [31]:
## Iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end="")
    print()

123
abc
TrueFalse