In [1]:
a=100

In [2]:
##Declaring and assigning variables
age=32
name="Raja"
height=6.1
is_student=True

print("age:",age)
print("name:",name)
print("height:",height)
print("is_student:",is_student)

age: 32
name: Raja
height: 6.1
is_student: True

In [3]:
##naming conventions
##variable names should start with a letter or underscore
##vairable names cannot start with a number
##variable names can only contain alphanumeric characters and underscores (A-z, 0-9, and _ )
##variable names are case-sensitive (age, Age and AGE are three different variables)
##variable names should be descriptive and meaningful

first_name="Raja"
last_name="Naidu"

In [7]:
##invalid variable names
##2age=30
##first-name="Raja"
##@name="Naidu"

In [10]:
name="Raja"
Name="naidu"

name==Name

False

In [11]:
##understanding variable types
age=25 ##int
height=6.1 ##float
name="Raja" ##str
is_student=True ##bool

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [12]:
##type checking and conversion
type(height)

float

In [14]:
age=25
print(type(age))

age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age='25'
print(type(int(age)))

<class 'int'>

In [16]:
name="Raja"
int(name)

ValueError: invalid literal for int() with base 10: 'Raja'

In [17]:
height=5.9
type(height)

float

In [18]:
int(height)

5

In [19]:
float(int(height))

5.0

In [21]:
##dynamic typing
var=10
print(var,type(var))
##python allows changing the type of variable during runtime
var="Hello"
print(var,type(var))
var=5.5
print(var,type(var))
var=True
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
5.5 <class 'float'>
True <class 'bool'>

In [24]:
##input
age=int(input("Enter your age: "))
print(age,type(age))

43 <class 'int'>

In [1]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 97.0
Difference: 11.0
Product: 2322.0
Quotient: 1.255813953488372